@model IEnumerable<FilmAddict.Models.FilmModel>

    @{
        ViewBag.Title = "Index";
    }
    <br />

 

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Trailer)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.Synopsis)
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration) minutes
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Synopsis)
                </td>

                <td>
                    @if (ViewBag.logueado != null)
                    {
                        <input class="btn btn-success" style="text-align:center" type="button"
                               value="Edit"
                               onclick='location.href="@Url.Action("Edit","Film",new { id = item.Id })"' />
                    }
                    <input class="btn btn-info" style="text-align:center" type="button"
                           value="Display"
                           onclick='location.href="@Url.Action("Display","Film",new { id = item.Id })"' />
                    @if (ViewBag.logueado != null)
                    {
                        <input class="btn btn-danger" style="text-align:center" type="button"
                               value="Delete"
                               onclick='location.href="@Url.Action("Delete","Film",new { id = item.Id })"' />
                    }
                </td>
            </tr>
        }

    </table>

    <div style="text-align: center;">
        @if (ViewBag.logueado != null)
        {

            <input class="btn btn-primary" style="text-align:center" type="button"
                   value="Create"
                   onclick='location.href="@Url.Action("Create","Film")"' />



        }
    </div>
