@model IEnumerable<FilmAddict.Models.FilmModel>

    @{
        ViewBag.Title = "Index";
    }
    <br />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .w3-btn {
            margin-bottom: 10px;
        }
    </style>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Trailer)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.Synopsis)
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <!--
                <td>
                    @Html.DisplayFor(modelItem => item.Trailer)
                </td>
                -->
                <td>
                    @Html.DisplayFor(modelItem => item.Synopsis)
                </td>

                <td>
                    @if (ViewBag.logueado != null)
                    {
                        <button class="w3-button w3-white w3-border w3-round-large">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </button>
                    }
                    <button class="w3-button w3-white w3-border w3-round-large">
                        @Html.ActionLink("Display", "Display", new { id = item.Id })
                    </button>
                    @if (ViewBag.logueado != null)
                    {
                        <button class="w3-btn w3-white w3-border w3-border-red w3-round-large">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </button>
                    }
                    </td>
            </tr>
        }

    </table>

    <div style="text-align: center;">
        <button class="w3-button w3-white w3-border w3-round-large">
            @Html.ActionLink("Create New", "Create")
        </button>
    </div>
