<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmAddict->@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FilmAddict", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Films", "Index", "Film")</li>
                    <li>@Html.ActionLink("Stats", "Index", "Film/Stats")</li>
                    <li>@Html.ActionLink("Billboards", "Index", "Billboard")</li>
                    @if (Session["UserId"] != null)
                    {
                        <li>@Html.ActionLink("My Films", "MyFilms", "Film/MyFilms")</li>
                    }

                   
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (Session["UserId"] == null)
    {
                <li>@Html.ActionLink("Log in", "Index", "Account/Login")</li>
                <li>@Html.ActionLink("Register", "Index", "Account/Register")</li>
}

                    @if (Session["UserId"] != null)
    {
                <li>@Html.ActionLink("Log out", "Index", "Account/Logout")</li>
}

                    @if (Session["UserId"] != null)
    {
                <li><h5 style="color:white;text-align : center;color:white;border: 1px solid powderblue;">Logged as:  @Session["Username"].ToString()</h5></li>
}

                </ul>


                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">&copy; @DateTime.Now.Year - FilmAddict (<a href="https://github.com/jesusrico12/FilmAddict">GitHub</a>)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


