@model FilmAddict.Models.Billboard

@{

    var films = ViewBag.films;
    var allFilmsSystem = ViewBag.allFilms;
}

<h2>Display</h2>

<div>
    <h4>Billboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>

        @foreach (var item in films)
        {
            <div class="col-lg-pull-10">

                <ul>
                    <li>

                        <strong>@item.Title</strong>
                    </li>

                </ul>

            </div>
        }



@using (Html.BeginForm("AddFilm", "Billboard", new { id = Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

   
        <select id="select" multiple="multiple" name="select">
            @foreach (var item in allFilmsSystem)
            {

                <option value="@item.Id">@item.Title</option>
            }
        </select>

        <input type="submit" value="Save" />

}

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
