@model IEnumerable<FilmAddict.Models.Billboard>

<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (ViewBag.logueado != null)
                    {

                        <input class="btn btn-success" style="text-align:center" type="button"
                               value="Edit"
                               onclick='location.href="@Url.Action("Edit","Billboard",new { id = item.Id })"' />

                    }
                    <input class="btn btn-info" style="text-align:center" type="button"
                           value="Display"
                           onclick='location.href="@Url.Action("Display","Billboard",new { id = item.Id })"' />
                    
                    @if (ViewBag.logueado != null)
                    {
                    <input class="btn btn-danger" style="text-align:center" type="button"
                           value="Delete"
                           onclick='location.href="@Url.Action("Delete","Billboard",new { id = item.Id })"' />
                    }

                </td>
            </tr>
        }

    </table>
</div>
<div style="text-align:center">
    @if (ViewBag.logueado != null)
    {
        
        <input class="btn btn-primary" style="text-align:center" type="button"
               value="Create"
               onclick='location.href="@Url.Action("Create","Billboard")"' />

        

        }
    </div>